@charset "utf-8";
/* CSS Document */

*{margin: 0; padding: 0;}

body{color: #77767c;}

.pad-10{padding: 10px;}
.pad-50-lr{padding-left: 50px; padding-right: 50px;}
.pb-0{padding-bottom: 0;} .pb-10{padding-bottom: 10px;} .pb-15{padding-bottom: 15px;} 
.pb-20{padding-bottom: 20px;} .pb-30{padding-bottom: 30px;} .pb-45{padding-bottom: 45px;}	

.pt-0{padding-top: 0;} .pt-10{padding-top: 10px;} .pt-15{padding-top: 15px;} 
.pt-20{padding-top: 20px;} .pt-30{padding-top: 30px;} .pt-45{padding-top: 45px;}

.mt-10{margin-top: 10px;} .mt-20{margin-top: 20px;} .mt-30{margin-top: 30px;} .mt-45{margin-top: 45px;}

p{margin: 0;}
.col-md-3{width: 28%;}
.col-md-6{width: 44%;}


.carousel .background {
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 700px;
}

@media (max-width:991px) {
  .carousel .background {
    background-size: cover; /* To make the background image looks good */
  }
}

.carousel .background.a {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner1.jpg");
}

.carousel .background.b {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner2.jpg");
}

.carousel .background.c {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner3.jpg");
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 0.5s; /* The 0.5s describes the duration to make the opacity from 0 to 1 */
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

/* CSS Hack to trigger GPU for smooth transition */
@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* CSS Hack to trigger GPU for smooth transition */		
		
		
		
		/*---gall---*/

		#destinaton{margin-top: -90px;}
		
		.col{float: left !important;
			 position: relative;
			 min-height: 1px;
			 padding-right: 15px;
			 padding-left: 15px;
		    }
		.col-l ,.col-r{width: 312px;}
		.col-m{width: 494px;}
		@media screen and (min-width: 992px) and (max-width:1199px){
			.col-l ,.col-r{width: 255px;}
			.col-m{width: 398px;}
		}
		@media screen and (min-width: 740px) and (max-width:991px){
			.col-l ,.col-r{width: 195px;}
			.col-m{width: 299px;}
		}
		@media screen and (max-width: 739px){
			.col-l ,.col-r{width: 100%;}
			.col-m{width: 100%;}
		}
		
		#gall{position: relative;}
		.center-text{
			color: #fff;
			position:absolute;
			top:7%;
			left:49%;
			trasform: translate(-50%,-50%);
		}
		
		.center-text p{
			font-size: 32px;
			font-weight: 600;
			margin-top: -25px;
		}
		
		/*---gall-end---*/





.covertext {
  position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
  top: 200px; /* The distance between the div with the top of document */
  left: 0px; /* Make the div full width */
  right: 0px; /* Make the div full width */
}

.title {
  font-family: Verdana;
  font-weight: 600;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
}

.subtitle {
  font-family: Verdana;
  font-size: 23px;
  color: #ffffff;
  text-align: center;
}

.explore {
  text-align: center;
  margin-top: 10px;
}

.explore .btn-lg,
.explore .btn-lg:hover {
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 22px;
  background-image: none;
  background-color: #FF4000;
  border-color: #FF4000;
  color: #ffffff;
}

.btn,
.btn:hover {
  border-radius: 0px;
  background-image: none;
  background-color: #FF4000;
  border-color: #FF4000;
  color: #ffffff;
  margin-bottom: 20px;
  box-shadow: none;
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  color: #ffffff;
  outline: none;
}
/*---End of Navigation---*/


/*---Welcome---*/

.welcome-bg{background-image: url('../images/welcome-bg.jpg');
	background-repeat: no-repeat;
	height: 790px;
	background-position: bottom;
	background-size: contain;
}

.heading{font-size: 140px;
		font-family: 'Nunito', sans-serif;
		font-weight: 900;
	    text-transform: uppercase;
		color: #f4f4f4;
		position: relative;
		/*z-index: 1;*/
}

.sub-heading{
		position: absolute;
		z-index: 1;
		top:60%;
		left:43%;
		trasform: translate(-50%,-50%);
	    text-transform: uppercase;
	    font-family: 'Nunito', sans-serif;
		font-size: 11px;
		font-weight: 900;
		color: #262b40;
}


.welcome-text{
		font-family: 'Nunito', sans-serif;
	    color: #77777e;
		font-size: 17px;
		line-height: 25px;
		padding: 50px 230px;
		text-align: center;
}

#scroll p{
		text-transform: uppercase;
	    font-family: 'Nunito', sans-serif;
		font-weight: 900;
		color: #262b40;
		font-size: 11px;
}

#scroll span{
	color: red;
	font-size: 18px;
}

#scroll span:hover{
	color: #575757;
	font-size: 22px;
}

@media screen and (min-width: 992px) and (max-width:1199px){
	.heading{font-size: 110px;}
	.sub-heading{font-size: 9px; left: 44%;}
	.welcome-bg{height: 620px;}
	.welcome-text{
		font-size: 15px;
		line-height: 22px;
		padding: 40px 220px;
}
}
	
@media screen and (min-width: 740px) and (max-width:991px){
	.heading{font-size: 90px;}
	.sub-heading{font-size: 9px; left: 44%;}
	.welcome-bg{height: 530px;}
	.welcome-text{
		font-size: 12px;
		line-height: 20px;
		padding: 30px 150px;
}
}

@media screen and (max-width: 739px){
	.heading{font-size:37px;}
	.sub-heading{font-size: 7px; left: 35%;}
	.welcome-bg{height: 350px;}
	.welcome-text{
		font-size: 10px;
		line-height: 14px;
		padding: 15px 40px;}
	#scroll span{
	font-size: 14px;}
	#scroll p{ font-size: 7px;
		margin-top: 10px;
		padding-bottom: 10px;
	}
	#scroll{margin-top: 0px;}
	
	#welcome .sub-heading{top:55%;}
	.hr-red{width:16px;}
	#scroll span:hover{
	color: #575757;
	font-size: 14px;
}
}

/*---Destination---*/

#destinaton .sub-heading{top:45%;}

@media screen and (max-width: 739px){
	#destinaton .sub-heading{top:35%;}	
}

/*---End of Destination---*/

/*---Tours---*/

.tour-bg{background-image: url('../images/tour-bg.jpg');
	background-repeat: no-repeat;
	height: 1100px;
	background-position: bottom;
	background-size: contain;
}

#tours{padding-left: 100px;
		padding-right: 100px;
}
.tour-text{
		font-family: 'Nunito', sans-serif;
	    color: #77777e;
		font-size: 17px;
		line-height: 25px;
		text-align:right;
		padding: 25px 25px;
}

@media screen and (min-width: 992px) and (max-width:1199px){
	
	.tour-text{
		font-size: 15px;
		line-height: 22px;
		padding: 10px 15px;
}
	#tours{
		padding-left: 80px;
		padding-right: 80px;
	}
	.tour-bg{height: 900px;}
}

@media screen and (min-width: 768px) and (max-width:991px){
	.tour-text{
		font-size: 12px;
		line-height: 20px;
		padding: 10px 15px;
}
	#tours{
		padding-left: 60px;
		padding-right: 60px;
	}
	.tour-bg{height: 750px;}
}

@media screen and (max-width: 767px){
	.tour-text{
		font-size: 10px;
		line-height: 14px;
		padding: 15px 20px;
		text-align: center;
	}
	
	#tours .sub-heading{top:55%;}
	.hr-red{width:16px;
	}
	
	#tours{
		
	padding-left: 20px;
	padding-right: 20px;
	}
	
	.tour-bg{height: 950px;}

}

/*---End of Tours---*/

/*---Newsletter---*/

#newsletter p{
		text-transform: uppercase;
	    font-family: 'Nunito', sans-serif;
		font-weight: 900;
		color: #262b40;
		font-size: 11px;
}

#newsletter form{
	margin-top: 30px;
	
}

#newsletter input[type=email]{
	border: none;
	border-bottom: 1px solid #ccc;
	font-size: 10px;
	width: 300px;
	padding-bottom: 20px;
	
}

@media screen and (max-width: 767px){
	#newsletter input[type=email]{
		width: 200px;
	}
}

#newsletter .btn{
	background-color: transparent;
	border: none;
	color: #ccc;
	/*border-bottom: 1px solid #ccc;*/
	padding-bottom: 20px;
	padding-top: 15px;
	margin-bottom: 0;
}


#newsletter .btn:hover{
	color: #414141;
}

.form1{
	border-bottom: 1px solid #ccc;
}

/*---End of Newsletter---*/

/*---Footer---*/

#footer p{font-size: 11px;}

#footer img{
		max-width: 40%;
}

@media screen and (min-width: 740px) and (max-width:991px){
	#footer img{
		max-width: 30%;
	}
}

@media screen and (max-width: 739px){
	#footer img{
		max-width: 70%;
	}
}



/*---Footer---*/

.divider img{
	max-width: 40px;
}

.hr-l{
	padding-right: 0px;
	width: 45.8333334%;
}

.hr-r{
	padding-left: 0px;
	width: 45.8333334%;
}

.hr-logo{
	padding-left: 0px;
	width: 8.333333334%;
	padding-right: 0px;
}

/*---Footer Navigation---*/

#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

#footer li {
  float: left;
}

#footer p{
		padding-top: 5px;
		padding-bottom: 5px;
}

#footer li a {
  display: block;
  color: #77767c;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 11px;
}

#footer li a:hover {
  background-color: transparent;
  text-decoration: none;
  color:rgba(54,54,54,1.00);
}

#social li a{
			padding: 5px;
			font-size: 10px;
}


/*---End of Footer Navigation---*/



