.brand-logo{
	z-index:1;
	}
.custom_login .form-group{
	width:100%;
	}
.modal {
	background-color:rgba(0,0,0,0.60);
	}

.footer_link li a{
box-sizing: border-box;
color: rgb(255, 255, 255);
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
}
.carousel-control.left, .carousel-control.right{
	background:none;
	}
.footerslider .thumbnail{
	padding:0;
	margin:0;
	border:none;}
	
	.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}


.footerslider .img-thumbnail{
    background-color: #000;
    border: 1px solid #000;
	padding:0;
	border-radius:none;
	
	}
.footerslider .thumb{
 padding: 0 5px  !important;
	}
#image-gallery .modal-body{
	    overflow: hidden !important;
		    padding-top: 26px;
	 }
.side-panel li.active{

    background-color: #d2656d;

}
.side-panel li a .redspan{
	color:#fff !important;
	}
.placeholder span a{
	color:#fff;
	}
#incoming img{
	max-height:140px;}
	
/*****************************/
.hotel-form{
	height:100%;
	clear:both;
	}	
.hotel-form .form-group{
    height: 100%;
    width: 100%;
	}
.hotel-form .controls{
	text-align: left;
	position: relative;
	input[type="text"],
	input[type="email"],
  input[type="number"],
  input[type="date"],
	input[type="tel"],
	textarea,
	button,
	select{
		padding: 12px;
		font-size: 14px;
		border: 1px solid $border;
		width: 100%;
		margin-bottom: 18px;
		color: #888;
		font-family: 'Lato', 'sans-serif';
		font-size: 16px;
		font-weight: 300;
		@include border-radius(2px);
		@include transition(all .3s);

		&:focus, &:hover{
			outline: none;
			border-color: $border-focus;
			+ label{
				color: $booking-green;
          cursor: text;
			}
#marmcorporate_form input[type="date"]{
	width:50% !important;
	}
