/*@font-face {



    font-family: 'shorthalt_thinregular';



    src: url('fonts/fonts/shorthalt_thin-webfont.woff2') format('woff2'),



         url('fonts/fonts/shorthalt_thin-webfont.woff') format('woff');



    font-weight: normal;



    font-style: normal;







}



@font-face {



    font-family: 'shorthaltregular';



    src: url('fonts/fonts/shorthalt-webfont.woff2') format('woff2'),



         url('fonts/fonts/shorthalt-webfont.woff') format('woff');



    font-weight: normal;



    font-style: normal;



}*/



@font-face {



    font-family: 'shorthalt_thinregular';



    src: url('fonts/shorthaltthinpersonaluse.woff2') format('woff2'),



         url('fonts/shorthaltthinpersonaluse.woff') format('woff');



    font-weight: normal;



    font-style: normal;







}



@font-face {



    font-family: 'shorthaltregular';



    src: url('fonts/shorthaltpersonaluse-webfont.woff2') format('woff2'),



         url('fonts/shorthaltpersonaluse-webfont.woff') format('woff');



    font-weight: normal;



    font-style: normal;







}







@font-face {



  font-family: 'Open Sans';



  font-style: normal;



  font-weight: 300;



  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');



  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;



}







body a p {



    font-size: 12px;



    letter-spacing: 0px;



}







.brand-logo {



	text-align: center;



	padding-top: 55px;



	padding-right: 10px;



	padding-bottom: 20px;



	padding-left: 10px;



}



.redspan {



	color: #bf222e!important;



}



.footer-link {



	text-transform: uppercase;



}



.navbar {



/*	text-transform: uppercase;*/



	font-size: 13px;



	font-family: 'Open Sans', sans-serif;



}



.navbar span {



	color: #bf222e;



}



.dropdown {



	display: inline-block;



}



.dropdown a {



	color: #000000!important;



}



.dropdown a:hover, a:hover span{



/*	color: #959595!important;*/



}







#lang-eng {



	width: 25px;



	height: 17px;



	background: url(../img/lang.png);



	background-position: -30px 0;



	background-repeat: no-repeat;



}



#lang-turkey {



	width: 25px;



	height: 17px;



	background: url(../img/lang.png);



	background-position: 0 0;



	background-repeat: no-repeat;



}



.language a.active {



	-webkit-filter: grayscale(1);



 	filter: grayscale(1);



 	cursor: not-allowed;



}







@media (min-width: 768px) {



.navbar-default {



	background: transparent;



	border: transparent;



}



}



.carousel-inner {



	max-height: 475px;



	object-fit:cover;



}



.carousel-inner>.item>img, .carousel-inner>.item>a>img {



	height: auto;



}



.carousel-inner > .item {



    -webkit-backface-visibility: visible;



            backface-visibility: visible;



}



#owl-demo .item img{



    display: block;



    width: 100%;



    height: auto;



}



html{overflow-y:scroll}



.item{



background-attachment:scroll;



}



.posts {



	position: relative;



}



.posts img{



	width: 100%;



/*	height: 238px;*/



	object-fit:cover;



/*	padding-bottom: 25px;*/



	transition: filter .5s ease-in-out;



	-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */



  	filter: grayscale(100%); /* FF 35+ */



}



.posts img:hover{



	-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */



  	filter: grayscale(0%); /* FF 35+ */



}



.caption {



	position: absolute;



	text-align: right;



	bottom: 0;



	right: 0;



	z-index: 99;



	color: #fff;



	font-size: 56px;



	font-family: 'Open Sans', sans-serif;



	line-height: 41px;



	font-weight: 800;



	padding-top: 0px;



	padding-right: 20px;



	padding-bottom: 40px;



	padding-left: 0px;



}



.caption span {



	font-weight: 300!important;



	font-size: 39px!important;



	color: #fff!important;



}



.caption-ind {



	position: absolute;



	text-align: right;



	bottom: 0;



	left: 0;



	z-index: 99;



	color: #fff;



	font-size: 56px;



	font-family: 'Open Sans', sans-serif;



	line-height: 41px;



	font-weight: 800;



	padding-top: 0px;



	padding-right: 0px;



	padding-bottom: 1px;



	padding-left: 10px;



}



.caption-ind span {



	font-weight: 300!important;



	font-size: 39px!important;



	color: #fff!important;



	padding-right: 19px;



}



.caption-inside {



    position: absolute;



    text-align: left;



    bottom: 0;



    left: 0;



    z-index: 99;



    color: #fff;



    font-size: 56px;



    font-family: 'Open Sans', sans-serif;



    line-height: 50px;



    font-weight: 800;



    padding-top: 0px;



    padding-right: 0px;



    padding-bottom: 24px;



    padding-left: 20px;



}



.caption-inside span {



	font-weight: 300!important;



	font-size: 39px!important;



	color: #fff!important;



	padding-right: 0px;



}







@media (max-width: 991px) {



.caption-inside {



    position: absolute;



    text-align: left;



    bottom: 0;



    left: 0;



    z-index: 99;



    color: #fff;



    font-size: 28px;



    font-family: 'Open Sans', sans-serif;



    line-height: 28px;



    font-weight: 800;



    padding-top: 0px;



    padding-right: 0px;



    padding-bottom: 6px;



    padding-left: 20px;



}



.caption-inside span {



    font-weight: 300!important;



    font-size: 21px!important;



    color: #fff!important;



    padding-right: 0px;



}



}







.caption-nav span {



    font-family: 'Open Sans', sans-serif;



    font-weight: 700;



	font-size: 18px!important;



}



.caption-nav a {



    font-family: 'Open Sans', sans-serif;



    font-weight: 700;



	font-size: 18px!important;



}



.caption-nav span > a:hover {



    font-family: 'Open Sans', sans-serif;



    font-weight: 500;



	font-size: 18px!important;



	color: #fff!important;



}



@media (max-width: 991px) {



	.posts {



		float: left;



		position: relative;



		padding-left: 6px;



		padding-right: 6px;



		text-align: center;	



	}



	.posts img {



		float: left;



		position: relative;



		width: 100%;



		height: 150px;



		/*padding: 5px;*/



		object-fit:cover;



		margin-left: auto;



		margin-right: auto;



	}



	.caption {



		bottom:36px;



		right:20px;



		padding:0;



	}



	.caption-ind {



		bottom:0px;



		right:157px;



		padding:0;



	}	



}



@media (max-width: 690px) {



	.posts {



		width: -webkit-fill-available;		



	}



}



.welcome {



	background-color: #f4f4f4;



	text-align: center;



	padding: 20px;



}



.welcome h1 {



	font-family: 'shorthaltregular', cursive;



	font-size: 54px;



	line-height: 54px;



}



.welcome p {



	font-size: 16px;



	font-family: 'Open Sans', sans-serif;



	line-height: 35.62px;



	color: #5a3022;



	max-width: 1170px;



	margin-left: auto;



	margin-right: auto;



}



.tours {



	text-align: center;



	padding: 20px;



}



.tours h1 {



	font-family: 'shorthaltregular', cursive;



	font-size: 54px;



	line-height: 35.62px;



}



.showcase {



	transition: .6s ease;



	-webkit-transition: .6s ease;



}



.showcase:hover {



	transform: scale(1.1);



	-webkit-transform: scale(1.1);



}



.showcase img{



	object-fit:cover;



	width: 100%;



	height: 220px; 



	margin-bottom: 30px;



}



.placeholder {



	position: absolute;



	z-index: 5;



	width: 80%;



	height: 60px;



	line-height: 60px;



	vertical-align: bottom;



	text-align: left;



	padding-left: 20px;



	background-color: rgba(0, 0, 0, 0.37);



	font-size: 20px;



	font-family: 'Open Sans', sans-serif;



	top: 140px;



/*	opacity: 0.8;*/



}



.placeholder p {



	display: inline-block;



	text-transform: lowercase;



	opacity: 1;



	font-weight: bold;



    margin-block-start: 0em;



    margin-block-end: 0em;



    margin-inline-start: 0px;



    margin-inline-end: 0px;



	letter-spacing: 0px!important;



	color: #fff!important;



}



.placeholder p:after {



    margin-left: 10px;



    margin-right: 10px;



    content: "";



    border-right: 2px solid #ff0000d1;



    letter-spacing: 0px!important;



}



.placeholder span {



    color: #fff;



    font-size: 14px;



    font-family: 'Open Sans', sans-serif;



}



.placeholder span a{



/*	color: #0b0101;*/



	font-size: 16px;



	font-family: 'Open Sans', sans-serif;



	text-decoration: none;



}



.placeholder span a:hover{



	color: #bdbdbd!important;



	font-size: 16px;



	font-family: 'Open Sans', sans-serif;



}



.block-panel {



	background-color: #f4f4f4;



	padding: 20px;



}



.featurs {



	text-align: center;



}



.features h1{



	font-family: 'shorthaltregular', cursive;



	font-size: 45px;



	color: #452e2a;



	text-align: center;



}



.features img{



	text-align: center;



	width: 100px;



	margin-bottom: 10px;



	display: block;



    margin-left: auto;



    margin-right: auto;



}



.features p{



	font-family: 'Open Sans', sans-serif;



	font-size: 16px;



	color: #5a3022;



	text-align: center;



}



.social-panel {



	background-color: #efefef;



	padding: 20px;



}



.social-hub h2{



	font-family: 'shorthaltregular', cursive;



	font-size: 52px;



}



.blogs {



	background-color: #FFF;



	padding: 10px;



	min-height: 5px;



}



.blogs h1:before{



	content: url('../img/blog.png');



	zoom: 0.5;



	margin-right: 10px;



}



.blogs h1{



	font-size: 21px;



	font-weight: 600;



}



.blogs p{



	font-size: 12px;



	color: #5a3022;



}



.more {



	color: #bf222e;



	font-weight: 600;



}



.date {



	color: #000000!important;



	font-weight: 600;



}



.bg-newsletter {



	background-image: url('../img/bg_newsletter.png');



	background-repeat: no-repeat;



	background-size: cover;



	background-position: center;



	min-height: 40px;



	padding: 20px;



}



.newsletter {



	text-align: center;



}



.newsletter h2{



	font-family: 'shorthaltregular', cursive;



	font-size: 47px;



	color: #452e2a;



}



.newsletter span{



	color: #bf0d1b;



}



.newsletter input[type=text], .newsletter input[type=email] {



	border: 1px solid #7c6c63;



	width: 250px;



	height: 34px;



	font-size: 18px;



	text-align: center;



	background-color: rgba(255, 255, 255, 0.4);



	color: #FFF;



    margin-bottom: 5px;



}



.newsletter input[type=submit] {



	width: 100px;



    height: 33px;



    background-color: #bf0d1b;



    color: #FFF;



    font-family: 'shorthaltregular', cursive;



    font-size: 32px;



    line-height: 30px;



    border: 0;



}



.footer {



	background: #000;



	color: #FFF;



	min-height: 30px;



	padding: 20px;



}



.footer-social a{



	color: #FFF;



	margin-left: 5px;



	margin-right: 5px;



	font-size: 16px;



}



.lightbox img {



	margin-top: 10px;



}



@media (max-width: 990px) {



	.lightbox img {



		width: 100%;



	}



}



.modal-dialog {



/*	margin-top: -100px!important;*/



}















.search-form .form-group input.form-control::-webkit-input-placeholder{



  display:none;



}



.search-form .form-group input.form-control::-moz-placeholder{



  display:none;



}



.navbar-right{



}



.navbar-right form{



  width:100%;



}



.form-group{



  position:relative;



width:0%;



  min-width:30px;



height:30px;



overflow:hidden;



transition: width 1s;



backface-visibility:hidden;



top:-4px;



}



.form-group input.form-control{



  top:0;



  right:0;



  outline:none;



  width:100%;



  height:30px;



  margin:0;



  z-index:10;



}



input[type="text"].form-control{



  -webkit-appearence:none;



  -webkit-border-radius:0;



}



.form-control-submit, .search-label{

	width:30px;

	height:30px;

	position:absolute;

	right:0;

	top:0;

	margin:0;

	text-align:center;

	cursor:pointer;

	line-height:30px;

	background:white;

	padding-top: 0px;

	padding-right: 8px;

	padding-bottom: 8px;

	padding-left: 8px;

}



.form-control-submit{



  background:#fff; /*stupid IE*/



    opacity: 0;



  color:transparent;



  border:none;



  outline:none;



  z-index:-1;



}



.search-label{



  z-index:90;



}



.form-group.sb-search-open,



.no-js .sb-search-open{



  width:100%;



}



.form-group.sb-search-open .search-label,



.no-js .sb-search .search-label {



	background: #bf222e;



	color: #fff;



	z-index: 11;



}



.form-group.sb-search-open .form-control-submit,



.no-js .form-control .form-control-submit {



	z-index: 90;



}



.btn {



	height: 34px;



}



























.navbar-nav .open .dropdown-menu {



	float: left;



	width: 50%;



	border:1px solid #bf222e;



	background-color: #eee;



}



.dropdown-menu {



  margin-top: 20px;



  border-top-left-radius: 4px;



  border-top-right-radius: 4px;



  left: auto;



  width: 50%;



  border:1px solid #bf222e;



  background-color: #eee;



}



@media (max-width: 1300px) {



	.tab {



		width: 30%!important;



	}



}



@media (max-width: 990px) {



	.dropdown-menu {



		width: 100%!important;



		left: 0!important;



	}



	.tab {



		width: 100%!important;



	}



	.mega-dropdown-menu:before {



	  content: "";



	  border: 0 solid transparent!important;



	}







	.mega-dropdown-menu:after {



  		content: "";



  		border: 0 solid transparent!important;



  	}



}



@media (max-width: 767px) {



	.dropdown-menu {



		width: 100%!important;



		border:0!important;



		left: 0!important;



	}



	.tab {



		width: 100%!important;



	}



}



.dropdown:hover .dropdown-menu{



	display: block;



	margin-top: 0;



}



.mega-dropdown {



  position: static !important;







}







.mega-dropdown-menu {



  padding: 20px 0px;



  box-shadow: none;



  -webkit-box-shadow: none;



}







.mega-dropdown-menu:before {



  content: "";



  border-bottom: 15px solid #bf222e;



  border-right: 17px solid transparent;



  border-left: 17px solid transparent;



  position: absolute;



  top: -15px;



  left: 22px;



  z-index: 10;



}







.mega-dropdown-menu:after {



  content: "";



  border-bottom: 17px solid #bf222e;



  border-right: 19px solid transparent;



  border-left: 19px solid transparent;



  position: absolute;



  top: -17px;



  left: 21px;



  z-index: 8;



}







.mega-dropdown-menu > li > ul {



  padding: 0;



  margin: 0;



}







.mega-dropdown-menu > li > ul > li {



  list-style: none;



}







.mega-dropdown-menu > li > ul > li > a {



  display: block;



  padding: 3px 20px;



  clear: both;



  font-weight: normal;



  line-height: 1.428571429;



  color: #999;



  white-space: normal;



}







.mega-dropdown-menu > li ul > li > a:hover,



.mega-dropdown-menu > li ul > li > a:focus {



  text-decoration: none;



  color: #444;



  background-color: #f5f5f5;



}







.mega-dropdown-menu .dropdown-header {



  color: #428bca;



  font-size: 18px;



  font-weight: bold;



}







.mega-dropdown-menu form {



  margin: 3px 20px;



}







.mega-dropdown-menu .form-group {



  margin-bottom: 3px;



}







.tab {



    background-color: white;



    height: auto;



    width: 25%;



    font-family: 'Open Sans', sans-serif;



    border-right: 3px solid #ccc;



    background-color: #eee;



}







/* Style the buttons inside the tab */



.tab button {



    display: block;



    background-color: inherit;



    color: black;



    padding: 22px 16px;



    width: 100%;



    border: none;



    outline: none;



    text-align: left;



    cursor: pointer;



    transition: 0.3s;



    font-size: 13px;



    text-align: center;



    font-family: 'Open Sans', sans-serif;



    text-transform: uppercase;



}







/* Change background color of buttons on hover */



.tab button:hover {



    background-color: #bf222e;



    color: white;



}







/* Create an active/current "tab button" class */



.tab button.active {



    background-color: #bf222e;



    color: white;



}







/* Style the tab content */



.tabcontent {



    float: left;



    padding: 0px 50px;



    border-left: none;



    height: auto;



    font-family: 'Open Sans', sans-serif;



    text-transform: uppercase;



    color: #bf222e;



}







.desktop-only {



	display: block;



}



@media (max-width: 767px) {



	.desktop-only {



	display: none;



}



}



.mobile-only {



	display: none;



}



@media (max-width: 767px) {



	.mobile-only {



	display: block;



}



}



























/* Turkey Landing Page */



.turkey-cover {



	padding-right: 0!important;



	padding-left: 0!important;



}



.turkey-cover img {



	width: 100%;



}



.turkey-cover p {



	font-family: 'Open Sans', sans-serif;



	font-size: 4vw;



	color: #bf222e;



	text-transform: uppercase;



	top: 0;



	position: absolute;



	padding: calc(3vw + 0em);



	text-align: center;



	line-height: calc(1.1em + -1.5vw);



}



.turkey-cover span{



	font-size: 2vw;



	color: #3d3a3a;



	text-transform: initial;



}



/*.turkey-desc {



	background-color: #e8e8e8;



}*/



.turkey-desc p {



	text-align: justify;



	font-size: 16px;



	font-family: 'Open Sans', sans-serif;



	color: #656565;



	line-height: 29px;



	padding: 20px;



}



.turkey-desc p span{



	font-size: 18px;



	color: #E32019;



}



.turkey-bg {



	background-color: #f1f1f1;



}



.turkey-bg-n {



	background-color: #fff;



}



.turkey-margin {



	margin-right: -15px;



}



@media (max-width: 990px) {



	.turkey-margin {



		margin-right: -15px;



		margin-left: -15px;



	}



}



.side-panel {



	background-color: #bf222e;



	color: #ffffff;



	min-height: 30px;



	padding: 0;



	margin-left: 0!important;



	margin-right: 0!important;



}



.side-panel li {



	list-style: none;



	padding: 10px;



}



.side-panel li a{



	font-size: 22px;



	color: #FFF!important;



	line-height: 20px;



	font-family: 'Open Sans', sans-serif;



}



.side-panel li a:hover{



	text-decoration: none;



/*	color: #959595;*/



}



.side-panel li a img{



	margin-bottom: 0px;



}



.side-panel li a:hover span{



/*	color: #959595;*/



	text-decoration: none;



}



.side-panel li a span{



	font-size: 16px;



}







.side-panel li:hover, .side-panel li:active, .side-panel li:focus, .side-panel li:target, .side-panel li:visited {



    background-color: #908f8f;



}







.side-panel-link {



	text-decoration: none;



}



.side-panel-link:hover {



	text-decoration: none



}



.side-panel li:hover, li:active, li:focus, li:target, li:visited{



	/*background-color: #d2656d;*/



}



/* Turkey Landing Page */











/* Tour Page */



.right {



	float: right;



}



@media (max-width: 992px) {



	.right {



	float: none;



}



}



.tour-cover {



	padding-right: 0!important;

	padding-left: 0!important;

	padding-bottom: 4px;



}



.tour-cover img {



	width: 100%;



}



.tour-cover p {



	font-family: 'Open Sans', sans-serif;



	font-size: 56px;



	color: #5b5b5b;



	bottom: 0;



	position: absolute;



	padding: 25px 35px;



	text-align: center;



	line-height: 49px;



}



.tour-cover span{



	font-size: 3.5vw;



	color: #bf222e;



	text-transform: initial;



	font-family: 'shorthaltregular', cursive;



}



@media (max-width: 767px) {



	.tour-cover p {



	padding: 5px 15px



}



}



@media (max-width: 670px) {



	.tour-cover p {



	font-size: 32px;



	line-height: 25px;



}



}



.tour-morocco-table table tbody th td{



	color: #423839!important;



}



.tour-morocco-table {



	font-family: 'Open Sans', sans-serif;



	color: #423839;



}



.tour-morocco-table h1{



	font-family: 'Open Sans', sans-serif;



	color: #bf222e;



	font-size: 24px;



	line-height: 30px;



}



.tour-desc {



	font-family: 'Open Sans', sans-serif;



	color: #656565;



	margin-bottom: 20px;



}



.tour-desc p{



	font-size: 16px;



}



@media (max-width: 670px) {

.tour-desc img {

    width: 100%!important;

    height: auto!important;

}}



.tour-price {



	background: #666666;



	padding: 30px;



	color: #FFF;



	min-height: 30px;



	font-family: 'Open Sans', sans-serif;



	font-size: 16px;



	word-wrap: break-word;



	position: relative;



}



.tour-price h1{



	font-size: 18px;



	font-weight: 600;



	z-index: 2;



}



.tour-md-10 {



	float: none;



	z-index: 2;



}



.tour-price-bg {



   position: absolute;



   bottom: 0;



   right: 0;



   opacity: 0.3;



}



.tour-flight {



	background: #f7f7f7;



	padding: 30px;



	color: #656565;



	min-height: 30px;



	font-family: 'Open Sans', sans-serif;



	font-size: 16px;



	word-wrap: break-word;



	position: relative;



}



.tour-flight h1{



	font-size: 20px;



	font-weight: 400;



	z-index: 2;



	color: #bf222e;



}



.tour-flight p:before {

	content: url(../img/flight-icon.png);

	margin-right: 10px;



}



.tour-download {



	font-family: 'Open Sans', sans-serif;



	font-size: 20px;



	padding: 30px;



}



.border-right {



	border-right: 2px dashed #333;

	min-height: 197px!important;



}



@media (max-width: 992px) {



	.border-right {



		border-right: 0!important;

		border-bottom: 2px dashed #333;

		text-align: center;

		min-height: 197px!important;



}



	.itinerary-download {



		text-align: center;



	}



}



.itinerary-download {



	padding: 30px;



}



.itinerary-download p{



	font-family: 'Open Sans', sans-serif;



	font-size: 14px;



}



.itinerary-download input[type=text], .itinerary-download input[type=email] {



	width: 200px;



	padding: 5px;



}



.itinerary-download input[type=submit] {



	font-family: 'Open Sans', sans-serif;



	background-color: #bf222e;



	color: #FFF;



	border:0;



	height: 33px;



}



/* Tour Page */











/* Marm Corporate */



.marm-corporate-cover {



	padding-right: 0!important;



	padding-left: 0!important;



}



.marm-corporate-cover img {



	width: 100%;



}



.marm-corporate-cover p {



	font-family: 'Open Sans', sans-serif;



	font-size: 56px;



	color: #bf222e;



	bottom: 0;



	position: absolute;



	padding: 10px 20px;



	text-align: center;



	line-height: 49px;



}



.marm-corporate-cover span{



	font-size: 43px;



	color: #110d01;



	text-transform: initial;



	font-family: 'Open Sans', sans-serif;



}







.marm-corporate-desc p {



	text-align: justify;



	font-size: 16px;



	font-family: 'Open Sans', sans-serif;



	color: #656565;



	line-height: 29px;



	padding: 20px;



}



.marm-corporate p span{



	font-size: 18px;



	color: #E32019;



}



@media (max-width: 767px) {



	.marm-corporate-cover p {



	padding: 5px 15px



}



}



@media (max-width: 670px) {



	.marm-corporate-cover p {



	font-size: 32px;



	line-height: 25px;



	padding:0px 5px;



	font-size: 30px;



}



	.marm-corporate-cover span{



		font-size: 23px;



	}



}



.marm-corporte-details {



	background: #efefef;



	padding: 30px;



	color: #000;



	min-height: 30px;



	font-family: 'Open Sans', sans-serif;



	font-size: 16px;



	word-wrap: break-word;



	position: relative;



}



.marm-corporte-details p{



    margin-block-start: 0;



    margin-block-end: 0;



    line-height: 20px;



    padding: 15px;



    color: #000000;



}



.marm-corporte-details h1{



	font-size: 18px;



	font-weight: 600;



	z-index: 2;



	color: #bf222e;



}



.tour-md-10 {



	float: none;



	z-index: 2;



}



.marm-corporte-bg {



   position: absolute;



   bottom: 0;



   right: 0;



}







/* Marm Corporate */







/* Marm Mice */



.marm-mice-cover {



	padding-right: 0!important;



	padding-left: 0!important;



}



.marm-mice-cover img {



	width: 100%;



}



.marm-mice-cover p {



	font-family: 'Open Sans', sans-serif;



	font-size: 56px;



	color: #bf222e;



	bottom: 0;



	position: absolute;



	padding: 10px 20px;



	text-align: center;



	line-height: 49px;



}



.marm-mice-cover span{



	font-size: 43px;



	color: #110d01;



	text-transform: initial;



	font-family: 'Open Sans', sans-serif;



	letter-spacing: 24px;



}







.marm-mice-desc p {



	text-align: justify;



	font-size: 16px;



	font-family: 'Open Sans', sans-serif;



	color: #656565;



	line-height: 29px;



	padding: 20px;



}



.marm-mice p span{



	font-size: 18px;



	color: #E32019;



}



@media (max-width: 767px) {



	.marm-mice-cover p {



	padding: 5px 15px



}



}



@media (max-width: 670px) {



	.marm-mice p {



	font-size: 32px;



	line-height: 25px;



}



	.marm-mice-cover p{



		padding:0px 5px;



		font-size: 30px;



		line-height: 29px;



	}



	.marm-mice-cover span{



		font-size: 23px;



		letter-spacing: 16px;



	}



}



.marm-mice-details {



	background: #efefef;



	padding: 30px;



	color: #000;



	min-height: 30px;



	font-family: 'Open Sans', sans-serif;



	font-size: 16px;



	word-wrap: break-word;



	position: relative;



}



.marm-mice-details p{



    margin-block-start: 0;



    margin-block-end: 0;



    line-height: 20px;



    padding: 15px;



    color: #000000;



}



.marm-mice-details h1{



	font-size: 18px;



	font-weight: 600;



	z-index: 2;



	color: #bf222e;



}



.tour-md-10 {



	float: none;



	z-index: 2;



}



.marm-mice-bg {



   position: absolute;



   bottom: 0;



   right: 0;



}







/* Marm Mice */











.icon-listing li {



	list-style: none;



	line-height: 50px;



}











/* Requirement Form */



.requirement-form {



	background: #dddada;



	min-height: 20px;



	padding:20px;



}



.requirement-form h1{



	font-family: 'Open Sans', sans-serif;



	font-size: 19px;



}



.requirement-form input[type=text] {



	width: 50%;



	margin-bottom: 10px;



	font-family: 'Open Sans', sans-serif;



}



.requirement-form textarea {



	width: 50%;



    padding: 6px 12px;



    font-family: 'Open Sans', sans-serif;



}



.requirement-form label {



	padding-left: 0;



	padding-right: 0;



	text-align: left!important;



	font-family: 'Open Sans', sans-serif;



}



.requirement-form input[type=submit] {



	width: 100px;



    height: 33px;



    background-color: #bf0d1b;



    color: #FFF;



    font-family: 'shorthaltregular', cursive;



    font-size: 22px;



    line-height: 30px;



    border: 0;



    vertical-align: text-bottom;



}



@media (max-width: 990px) {



	.requirement-form input[type=text] {



	width: 100%;



}	



	.requirement-form textarea {



	width: 100%;



	margin-bottom: 20px;



}



}



/* Requirement Form */







/* Lightbox */



* {



  box-sizing: border-box;



}







.row > .column {



  padding: 0 8px;



}







.row:after {



  content: "";



  display: table;



  clear: both;



}



.column {



  float: left;



  width: 25%;



  height: 30%;



  object-fit: cover;



}



.modal {



  display: none;



  position: fixed;



  z-index: 99;



  padding-top: 10px;



  left: 0;



  top: 0;



  width: 100%;



  height: 100%;



  overflow: auto;



  background-color: black;



}



@media (max-width: 630px) {



	.modal {



		padding-top: 100px;



	}



}







/* Modal Content */



.modal-content {



  position: relative;



  background-color: #fefefe;



  margin: auto;



  padding: 0;



  width: 90%;



  max-width: 1200px;



}







/* The Close Button */



.close {



  color: white;



  position: absolute;



  top: 10px;



  right: 25px;



  font-size: 35px;



  font-weight: bold;



}







.close:hover,



.close:focus {



  color: #999;



  text-decoration: none;



  cursor: pointer;



}







.mySlides {



  display: none;



}







.cursor {



  cursor: pointer;



}







/* Next & previous buttons */



.prev,



.next {



  cursor: pointer;



  position: absolute;



  top: 50%;



  width: auto;



  padding: 16px;



  margin-top: -50px;



  color: white;



  font-weight: bold;



  font-size: 20px;



  transition: 0.6s ease;



  border-radius: 0 3px 3px 0;



  user-select: none;



  -webkit-user-select: none;



}







/* Position the "next button" to the right */



.next {



  right: 0;



  border-radius: 3px 0 0 3px;



}







/* On hover, add a black background color with a little bit see-through */



.prev:hover,



.next:hover {



  background-color: rgba(0, 0, 0, 0.8);



}







/* Number text (1/3 etc) */



.numbertext {



  color: #f2f2f2;



  font-size: 12px;



  padding: 8px 12px;



  position: absolute;



  top: 0;



}







img {



  margin-bottom: -4px;



}







.caption-container {



  text-align: center;



  background-color: black;



  padding: 2px 16px;



  color: white;



}







.demo {



  opacity: 0.6;



}







.active,



.demo:hover {



  opacity: 1;



}







img.hover-shadow {



  transition: 0.3s;



}







.hover-shadow:hover {



  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}



/* Lightbox */















/* Contact */







.contact-details {







}



.contact-details h1 {



	font-size: 23px;



	color: #bf222e;



	font-family: 'Open Sans', sans-serif;



}



.contact-details h1 span {



	color: #000000;



}







.contact-details p {



	font-family: 'Open Sans', sans-serif;



	font-size: 15px;



}



.contact-details p span {



	color: #bf222e;



}



.contact-details-border-right {



	border-right: 1px solid #bf222e!important;



}







.help-desk {



	vertical-align: bottom;



	border-right: 1px solid #444;



}







.help-desk h1 {



	font-size: 18px;



	color: #bf222e;



	font-family: 'Open Sans', sans-serif;



}



.help-desk p {



	font-family: 'Open Sans', sans-serif;	



}



.help-desk p span {



	color: #bf222e;



}



.social h1 {



	font-size: 18px;



	color: #bf222e;



	font-family: 'Open Sans', sans-serif;



}



.social table {



	font-family: 'Open Sans', sans-serif;	



	font-size: 20px;



	color: #9f9f9f;



	text-align: center;



}



.social tr td a{



	color: #9f9f9f;



	padding:5px;



	text-align: center;



}







.height-contact-details {



    height: auto;



    overflow: hidden;



}







.height-contact-details div{



	border-right: 1px solid #444;



	height: 215px;



	max-height: 100%;



	overflow:hidden;



}



.height-contact-details div:nth-child(4){



	border: 0;



}







@media (max-width: 990px) {



	.contact-details-border-right {



		border-bottom: 1px solid #bf222e!important;



		border-right: 0!important;



	}



	.help-desk {



		border-bottom: 1px solid #444;



		border-right: 0;



	}



	.height-contact-details div{



		border-bottom: 1px solid #444;



		border-right: 0;



		height: auto;



		width: 100%!important;



	}



}



/* Contact */











.modal-backdrop.in {



	opacity: 0!important;



}



.modal-backdrop {



	z-index: 0!important;



}







/*Cookie Consent Begin*/



#cookieConsent {



    background-color: rgba(20,20,20,0.8);



    min-height: 26px;



    font-size: 14px;



    color: #ccc;



    line-height: 26px;



    padding: 8px 0 8px 30px;



    font-family: "Trebuchet MS",Helvetica,sans-serif;



    position: fixed;



    bottom: 0;



    left: 0;



    right: 0;



    display: block;



    z-index: 9999;



}



#cookieConsent a {



    color: #4B8EE7;



    text-decoration: none;



}



#closeCookieConsent {



    float: right;



    display: inline-block;



    cursor: pointer;



    height: 20px;



    width: 20px;



    margin: -15px 0 0 0;



    font-weight: bold;



}



#closeCookieConsent:hover {



    color: #FFF;



}



#cookieConsent a.cookieConsentOK {



    background-color: #F1D600;



    color: #000;



    display: inline-block;



    border-radius: 5px;



    padding: 0 20px;



    cursor: pointer;



    float: right;



    margin: 0 60px 0 10px;



}



#cookieConsent a.cookieConsentOK:hover {



    background-color: #E0C91F;



}



/*Cookie Consent End*/







/* Popup */



.popup {



	font-family: 'Open Sans', sans-serif;



	text-align: center;



	padding:8px;



}



.popup p {



	font-family: 'Open Sans', sans-serif;



	color: #bf222e;



	font-size: 17px;



}



.popup input[type=submit] {



    background-color: #bf0d1b;



    border-color: #bf0d1b;



    color: #FFF;



}



.grey {



	color: #444!important;



}



.btn-red {



	background: #bf222e;



	color: #fff;



}



.btn-red:hover {



	background: #bf0d1b;



}



.btn-red:hover {



	color: #fff!important;



}



.btn {



	height: auto!important;



}



.red{



    color:red;



    }



.form-area {



    padding: 10px 15px 20px;



    margin: 0px 0px 15px;



}



/* Popup */







/*Buttons */



.btn-signin {



	width: 100px;



    height: 33px;



    background-color: #bf0d1b;



    color: #FFF;



    font-family: 'shorthaltregular', cursive;



    font-size: 30px;



    line-height: 18px;



    border: 0;



}







/* --------------------------------------------------------------------------Festoon Edit------------------------------------------------------ */







.no-pad {padding:0;}



.no-marg {margin:0;}



.top-marg {



	margin-top: 10px;



	margin-right: 0;



	margin-bottom: 0;



	margin-left: 0;



}



.pad-banner {



	padding-right: 5px;



}



.pad-tour {



	padding-right: 5px;



	padding-bottom: 5px;



}



.pad-tour-right {



	padding-bottom: 5px;



}



.pad-block {



	padding-bottom: 8px;



}



.pad-left {



    padding-left: 4px;



}



.pad-left-b-t {



    padding-left: 4px;



}



@media (max-width: 767px){



.pad-left-b-t {



    padding-left: 0;



	padding-top: 3px;



}



.pad-left {



    padding-left: 0;



}







}







.block-top img {



    height: 283px;



}



.block-bot img {



    height: 229px;



}



.no-pad-mar {



	padding:0;



	margin:0;



}



.fa, .fas {



    font-weight: 600;



    font-size: 15px;



}



ul.nav.navbar-nav.no-pad-mar {



    padding-top: 10px;



}



.form-group {



    margin-bottom: 0px;



}



.nav {



    padding-top: 10px;



}







.container {



	margin-bottom: 5px!important;



}







.nav > li > a {



	letter-spacing: 0px;



}







.nav-right-border {



	border-right-width: 15px!important;

	border-right-style: solid!important;

	border-right-color: #908f8f!important;



}



@media (min-width: 768px){

.navbar-right {

    margin-right: 0px!important;

}}







/*Slider */



/*slider-text-style*/



.slider-text-big-bn {position:absolute; z-index:0; text-align:left; }



#slider-text-big-0-bn {top:20%; right:6%;}



#slider-text-big-1-bn {top:22%; left:5%;}



#slider-text-big-2-bn {top:10%; left:6%;}



#slider-text-big-3-bn {top:32%; left:12%;}



.slider-text-big-bn .slider-text-1 {display:block; font-size:70px; font-weight:bold; color:#267db5;  }



.slider-text-big-bn .slider-text-2 {display:block; color:#0cb398; font-weight:600; font-size:86px; padding-left:60px;}



.slider-text-big-bn .slider-text-3 {display:block; color:#0cb398; font-weight:600; font-size:50px; padding-left:60px;}



.slider-text-big-bn .slider-text-4 {display:block; color:#0cb398; font-weight:600; font-size:60px;  }



.slider-text-big-bn .slider-text-3 span {font-size:80px;}



.slider-text-big-bn .slider-text-4 span {font-size:80px;}







.slider-text-small-bn {position:absolute; z-index:0; text-align:right; }



#slider-text-small-0-bn {top:45%; right:5%; }



#slider-text-small-1-bn {top:70%; right:5%; }



#slider-text-small-2-bn {top:65%; right:5%; }



#slider-text-small-3-bn {top:70%; right:5%; }



.slider-text-small-bn .slider-text-1 {display:block; font-size:34px; font-weight:600; color:#267db5;  }



.slider-text-small-bn .slider-text-2 {display:block; color:#0cb398; font-weight:600; font-size:40px;  }



.slider-text-small-bn .slider-text-3 {display:block; color:#0cb398; font-weight:600; font-size:22px;  }



.slider-text-small-bn .slider-text-4 {display:block; color:#0cb398; font-weight:600; font-size:24px;  }



#slider-text-small-0-bn .slider-link img { width:250px;}











.slider-text-big-en {position:absolute; z-index:0; text-align:left; }



#slider-text-big-0-en {top:20%; right:6%;}



#slider-text-big-1-en {top:37%; left:6%;}



#slider-text-big-2-en {top:10%; left:6%;}



#slider-text-big-3-en {top:32%; left:6%;}



.slider-text-big-en .slider-text-1 {display:block; font-size:70px; font-weight:400; color:#267db5; line-height:80px; letter-spacing:-3px; }



.slider-text-big-en .slider-text-2 {display:block; color:#0cb398; font-weight:600; font-size:86px; padding-left:60px; line-height:86px; letter-spacing:-3px;}



.slider-text-big-en .slider-text-3 {display:block; color:#0cb398; font-weight:600; font-size:50px; padding-left:60px; line-height:60px; letter-spacing:-3px;}



.slider-text-big-en .slider-text-4 {display:block; color:#0cb398; font-weight:600; font-size:60px; padding-left:60px; line-height:80px; letter-spacing:-3px; }



.slider-text-big-en .slider-text-3 span {font-size:80px;}



.slider-text-big-en .slider-text-4 span {font-size:80px;}











.slider-text-small-en {position:absolute; z-index:0; text-align:right; }



#slider-text-small-0-en {top:55%; right:0%; }



#slider-text-small-1-en {top:70%; right:5%; }



#slider-text-small-2-en {top:65%; right:5%; }



#slider-text-small-3-en {top:70%; right:5%; }



.slider-text-small-en .slider-text-1 {display:block; font-size:34px; font-weight:600; color:#267db5; line-height:40px; letter-spacing:-1px; }



.slider-text-small-en .slider-text-2 {display:block; color:#0cb398; font-weight:600; font-size:40px; line-height:45px; letter-spacing:-1px;  }



.slider-text-small-en .slider-text-3 {display:block; color:#0cb398; font-weight:600; font-size:22px; line-height:27px; letter-spacing:-1px; }



.slider-text-small-en .slider-text-4 {display:block; color:#0cb398; font-weight:600; font-size:29px; line-height:34px; letter-spacing:-1px; }



#slider-text-small-0-en .slider-link img { width:350px;}







.slider-text-color-1 {color:#267db5;}



.slider-text-color-2 {color:#0cb398;}



.slider-text-color-3 {color:#ffffff;}



.slider-text-color-4 {color:#333333;}











/*slider-text-style-end*/











#slider-big img, #slider-small img {-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}



#slider-image-1-big {filter: grayscale(100%) contrast(120%) brightness(1.00); -webkit-filter: grayscale(100%) contrast(120%) brightness(1.0);}



#slider-image-2-big {filter: grayscale(100%) contrast(100%) brightness(1.0); -webkit-filter: grayscale(100%) contrast(100%) brightness(1.0);}



#slider-image-3-big {filter: grayscale(100%) contrast(120%) brightness(1.0); -webkit-filter: grayscale(100%) contrast(120%) brightness(1.0);}



#slider-image-4-big {filter: grayscale(100%) contrast(120%) brightness(1.0); -webkit-filter: grayscale(100%) contrast(120%) brightness(1.0);}















#slider-image-1-small {filter: grayscale(100%) contrast(120%) brightness(0.90); -webkit-filter: grayscale(100%) contrast(120%) brightness(0.90);}



#slider-image-2-small {filter: grayscale(100%) contrast(100%) brightness(1.0); -webkit-filter: grayscale(100%) contrast(100%) brightness(1.0);}



#slider-image-3-small {filter: grayscale(100%) contrast(100%) brightness(1.2); -webkit-filter: grayscale(100%) contrast(100%) brightness(1.2);}







#jssor_1 img:hover, #jssor_2 img:hover {filter: grayscale(0%); -webkit-filter: grayscale(0%);}



.gray {filter: grayscale(100%); -webkit-filter: grayscale(100%);}



.non-gray {filter: grayscale(0%); -webkit-filter: grayscale(0%);}



.doc-pages-marg-top {margin-top:80px;}



@media screen and (min-width: 480px) {



#slider-small { display:none;}



}



@media screen and (max-width: 479px) {



#slider-big { display:none;}



}



@media screen and (min-width: 600px) {



#banner-small { display:none;}



}



@media screen and (max-width: 599px) {



#banner-big { display:none;}



}



/*End Slider */







.slider-eff img{



/*	width: 100%;



	height: 238px;



	object-fit:cover;*/



/*	padding-bottom: 25px;*/



	transition: filter .5s ease-in-out;



	-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */



  	filter: grayscale(100%); /* FF 35+ */



}



.slider-eff img:hover{



	-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */



  	filter: grayscale(0%); /* FF 35+ */



}















/*box zoom */



.container-box {



  position: relative;



  overflow: hidden;



  width: 100%;



  height: 220px; 



}







@media (max-width: 767px){



.item-box img {



  height: 220px; 



  width: 100%;



}}







.item-box {



  position: absolute;



  top: 0;



  left: 0;



  width: 100%;



}







.item-box img {



  -webkit-transition: 0.6s ease;



  transition: 0.6s ease;



  width: 100%;



}







.container-box:hover .item-box img {



  -webkit-transform: scale(1.2);



  transform: scale(1.2);



}



/*End box zoom */



/*megamenu */

.col-md-6.menu-img {

    max-width: 174px;

}

.col-md-6.menu-img img {

    padding-bottom: 14px;

}



.menu-img p {

    padding-bottom: 20px;

	text-align:center;

	font-weight:600;

}

#incoming img {

    max-height: 119px!important;

}

/*end megamenu */



.wedding-img img{

	width:100%;

	margin-bottom: 10%;

	}
	
/*Facebook */
@media screen and (min-width: 480px) {



.lightwidget-widget { min-width:100% !important;}



}
/*End Facebook */